{% extends 'base.html' %}

{% block title %}
    Questions
{% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">

        {% for question in questions %}
            <div class="jumbotron">
                <div>
                    <b>{{ question.text|upper }}</b>
                    <span>, Asked By: {{ question.user_id }}</span>
                    <a href="{{ url_for('questions_page.question', question_id=question.id) }}"
                       class="btn btn-primary">View Question</a>
                    <a href="{{ url_for('questions_page.answer_question', question_id=question.id) }}"
                       class="btn btn-primary">Answer</a>
                </div>
            </div>
        {% endfor %}
    </div> <!-- /container -->
{% endblock %}